* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.skill {
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    /* bottom-right dark */ -6px -6px 10px -1px rgba(95, 91, 91, 0.15),
    /* top-left dark */ -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
    /* top-left light */ 6px 6px 10px -1px rgba(255, 255, 255, 0.7); /* bottom-right light */

  padding: 20px;
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
}

#number span {
  font-size: 50px;
  color: #1ca859;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 1s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes progressAnim {
  from {
    stroke-dashoffset: var(--circumference);
  }
  to {
    stroke-dashoffset: var(--offset);
  }
}

circle.animated {
  animation: progressAnim 1s ease forwards;
}
