  @import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600&display=swap");

  * {
    font-family: "Roboto Flex", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: hsl(216, 33%, 97%);
    color: #333;
  }

  .dashboard-headers {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }

  .dashboard {
    font-size: 30px;
    font-weight: 700;
    color: #2d2d2d;
  }

  .user-text {
    margin-left: -5px;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .icons span {
    font-size: 28px;
    color: #555;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .icons span:hover {
    transform: scale(1.1);
  }
  .user-pfp img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
  }
  .user-pfp img:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
  }

  .username {
    font-size: 16px;
    font-weight: 500;
  }

  .username-user {
    margin-top: 3px;
    font-size: 14px;
    color: gray;
  }

  .parting-line {
    margin: 20px 20px;
    border: none;
    height: 1px;
    background-color: #ddd;
  }

  .circular-progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
