.leave-status-container {
  display: flex;
  gap: 100px;
}
.leave-status {
  margin-top: 30px;
  width: 220px;
  height: 100px;
  display: flex;
  gap: 10px;
  margin-left: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
/* total leaves */
.leave-status.total-leave {
  background-color: hsl(221, 88%, 94%);
}
.leave-status .total-leaves {
  border: none;
  display: flex;
}
.leave-status .total-leaves span {
  font-size: 50px;
  color: blue;
}

.total-leaves-txt {
  font-size: 18px;
  margin-top: 15px;
}

.total-leaves-number {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}
/* total leaves */
.leave-status.approved-leave {
  background-color: hsl(133, 84%, 85%);
}
.leave-status .approved-leaves {
  border: none;
  display: flex;
}
.leave-status .approved-leaves span {
  font-size: 50px;
  color: green;
}

.approved-leaves-txt {
  font-size: 18px;
  margin-top: 15px;
}

.approved-leaves-number {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}
/* total leaves */
.leave-status.pending-leave {
  background-color: hsl(67, 93%, 87%);
}
.leave-status .pending-leaves {
  border: none;
  display: flex;
}
.leave-status .pending-leaves span {
  font-size: 50px;
  color: hsl(38, 82%, 50%);
}

.pending-leaves-txt {
  font-size: 18px;
  margin-top: 15px;
}

.pending-leaves-number {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}
/* total leaves */
.leave-status.rejected-leave {
  background-color: hsl(9, 100%, 94%);
}
.leave-status .rejected-leaves {
  border: none;
  display: flex;
}
.leave-status .rejected-leaves span {
  font-size: 50px;
  color: red;
}

.rejected-leaves-txt {
  font-size: 18px;
  margin-top: 15px;
}

.rejected-leaves-number {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}
