.leave-history-panel {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 250px;
  height: auto;
  background-color: hsl(141, 95%, 15%);
  z-index: 1;
  border-radius: 7px;
}

.leave-history-links {
  list-style-type: none;
  display: grid;
  gap: 15px;
  margin-top: 10px;
  padding: 10px;
}

.leave-history-options {
  max-width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.leave-history-link {
  font-size: 16px;
  height: 38px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 10px;
  width: 100%;
  padding: 0 12px;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.leave-history-link:hover {
  background-color: hsl(146, 71%, 38%);
}

.leave-history-link.active {
  background-color: hsl(146, 71%, 28%);
}

.leave-history-options span {
  font-size: 20px;
}
