@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600&display=swap");

* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  color: white;
  background-color: hsl(141, 100%, 17%);
  width: 270px;
  height: auto;
}

.sidebar img {
  margin-top: 30px;
  margin-left: -20px;
  width: 300px;
  height: 60px;
}
.sidebar-link {
  width: 270px;

  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  text-decoration: none;
  border-radius: 18px;
}

.sidebar-link.active {
  width: 270px;
  height: 44px;

  background-color: hsl(146, 71%, 38%);
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.475);
  /* padding: 10px; */
}
.sidebar-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 18px;
  margin-top: 50px;

  display: grid;
  gap: 20px;
  width: 270px;
}
.sidebar-ul span {
  margin-left: 10px;
}

.dashboard-sidebar {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 235px;
  height: 44px;
}
.dashboard-sidebar:hover {
  background-color: hsl(146, 71%, 38%);
  cursor: pointer;
  border-radius: 18px;
}

.apply-for-leave {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 235px;
  height: 44px;
}
.apply-for-leave:hover {
  background-color: hsl(146, 71%, 38%);
  cursor: pointer;
  border-radius: 18px;
}
.calendar {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 235px;
  height: 44px;
}
.calendar:hover {
  background-color: hsl(146, 71%, 38%);
  cursor: pointer;
  border-radius: 18px;
}
.leave-history {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 235px;
  height: 44px;
}
.leave-history:hover {
  background-color: hsl(146, 71%, 38%);
  cursor: pointer;
  border-radius: 18px;
}
.settings {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 235px;
  height: 44px;
}
.settings:hover {
  background-color: hsl(146, 71%, 38%);
  cursor: pointer;
  border-radius: 18px;
}
.signout {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 235px;
  height: 44px;
}
.signout:hover {
  background-color: hsl(146, 71%, 38%);
  cursor: pointer;
  border-radius: 18px;
}

.gap-li {
  margin-top: 200px;
  display: grid;
  gap: 20px;
}
